.uno{ 
    text-align: center;
}

body{
    background-color: #f8d3e9;
color: rgb(49, 19, 22);
}

.letra_uno{
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}
h2{
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
}
h1{
  font-family: "Emilys Candy", serif;
  font-weight: 400;
  font-style: normal;
}

p, h4, ul{
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
a {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 46, 238);
  display: flex;
  flex-direction: column;
}
h3{
  font-family: "Unlock", serif;
  font-weight: 400;
  font-style: normal;
}
hr{
    background-color: rgb(182, 4, 4);
    padding: 0.2%;
}